.stage-only {
    /* width: calc(480px + 0rem); */
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
        /* Setting min height/width makes the UI scroll below those sizes */
        min-width: 1057px;
        min-height: 640px; /* Min height to fit sprite/backdrop button */
}

.stage-only * {
    box-sizing: border-box;
}
